label {
    cursor: pointer;
}

.show-code {
    height: 300px;
}

.col-example {
    height: 100px;
    background: #80bdff;
    border-radius: .25rem;
    border: 1px solid #fff;
}

.columns-space-set {
    display: none;
}

.is-active {
    display: block;
};


